@charset "UTF-8";
.resources_title h3, .reservoir_title h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  color: #333333;
}

* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1rem;
  font-family: "Roboto", "PingFang TC", "微軟正黑體", sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, p, ol, ul, li, label, input {
  margin: 0;
}

ol, ul, li {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.popover {
  width: 900px;
  height: 480px;
  margin: auto;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #ffffff;
  border-radius: 15px;
}
.popover_background {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.popover_header {
  padding: 20px;
  position: relative;
  font-size: 20px;
  color: #333333;
  text-align: center;
}
.popover_header_close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}
.popover_header_close img {
  width: 100%;
  object-fit: cover;
}

.popover_body {
  padding: 37px;
}

.light_sign {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1px #e0e0e0;
}
.light_sign:last-child {
  border: none;
}
.light_sign_badge {
  width: 26px;
  height: 26px;
  border-radius: 26px;
}
.light_sign .green {
  background-color: #27ae60;
}
.light_sign .yellow {
  background-color: #f2c94c;
}
.light_sign .orange_400 {
  background-color: #f88824;
}
.light_sign .orange_600 {
  background-color: #eb5757;
}
.light_sign_name {
  flex: 1 0 0;
  text-align: center;
  font-weight: 600;
}
.light_sign_content {
  flex: 2 0 0;
  font-weight: 400;
}

.open {
  display: block;
}

.navbar {
  width: 246px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  font-weight: 600;
}

.reservoir_info {
  margin: 0 70px;
  padding: 40px 0;
  display: flex;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
}

.water_regime {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  color: #ffffff;
}
.water_regime_name {
  margin-bottom: 6px;
}
.water_regime_content {
  width: 226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.water_regime_value {
  font-size: 40px;
  font-weight: 600;
}
.water_regime_badge {
  width: 20px;
  height: 20px;
  background-color: #f2c94c;
  border-radius: 20px;
}
.water_regime_info {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.water_regime_info img {
  width: 100%;
  object-fit: cover;
}

.reservoir_regime {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  position: relative;
  color: #ffffff;
}
.reservoir_regime::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #ffffff;
}
.reservoir_regime_name {
  margin-bottom: 6px;
}
.reservoir_regime_value {
  font-size: 40px;
  font-weight: 600;
}

.home {
  height: auto;
  background: url("../image/pic/home-bg.png") center/cover no-repeat;
}

.web_info {
  width: 523px;
  margin: 0 auto;
  padding: 190px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.web_info_title {
  margin-bottom: 20px;
}
.web_info_title img {
  width: 100%;
  object-fit: cover;
}
.web_info_subtitle {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
}
.web_info .update_time {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.reservoir_chart_header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  color: #828282;
}
.reservoir_chart_header .header {
  flex: 0 0 70%;
  font-size: 1rem;
}

.reservoir_chart_item {
  padding: 24px 0;
  display: flex;
  align-items: center;
}

.reservoir_name {
  flex: 0 0 20%;
}
.reservoir_name div {
  padding: 6px;
  font-size: 20px;
}

.reservoir_counties {
  margin: 0 4px;
  padding: 2px 6px;
  background-color: #828282;
  border-radius: 4px;
  font-size: 1rem;
  color: #ffffff;
}
.reservoir_counties:last-child {
  margin: 0;
}

.reservoir_chart_line {
  height: 29px;
  flex: 0 0 50%;
  position: relative;
  background-color: #eeeeee;
}
.reservoir_chart_line .reservoir_chart_value {
  width: 239px;
  height: 29px;
  position: absolute;
  left: 0;
  background: linear-gradient(90deg, rgba(240, 43, 74, 0.37) 0%, #f02b4a 100%);
}

.reservoir_capacity {
  flex: 0 0 10%;
  text-align: right;
}

.reservoir_storage {
  flex: 0 0 20%;
  text-align: right;
}

.reservoir {
  padding: 50px;
}

.reservoir_title {
  margin-bottom: 2.25rem;
}
.total_storage {
  margin-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
}
.total_storage_value {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
.total_storage_unit {
  font-size: 15px;
}

.resources_region_list {
  display: flex;
}

.resources_region_item {
  width: 110px;
  height: 110px;
  padding: 15px 0;
  text-align: center;
}
.resources_region_item span {
  font-size: 12px;
}
.resources_region_item:hover {
  border: solid 1px;
  border-radius: 10px;
}
.resources_region_icon {
  width: 40px;
  height: 40px;
  margin: 0 auto 12px;
}
.resources_region_icon img {
  width: 100%;
  object-fit: cover;
}
.resources_region_content {
  padding: 16px;
  flex: 2 0 0;
  background-color: #F2F2F2;
}
.resources_region_content button {
  width: 26px;
  height: 26px;
  background-color: transparent;
}
.resources_region_content button img {
  width: 100%;
  object-fit: contain;
}
.resources_region_sort {
  margin-right: 13px;
}
.resources_region_stand {
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #e0e0e0;
}

.stand_info {
  display: flex;
  flex: 2 0 0;
  flex-direction: column;
  font-size: 17px;
}

.resources_address {
  margin-right: 25px;
}

.on-click {
  border: solid 1px;
  border-radius: 10px;
}

.resources {
  padding: 50px;
  background-color: #eeeeee;
}

.resources_title {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.resources_title .reserv_button {
  padding: 10px 20px;
  background-color: #333333;
  border-radius: 4px;
  color: #ffffff;
  font-size: 17px;
}

.resources_region_category {
  margin-bottom: 40px;
}
.resources_region_category button {
  width: 97px;
  height: 40px;
  color: #333333;
  background-color: transparent;
  border: solid 1px #333333;
  border-radius: 5px;
}
.resources_region_category button:hover {
  color: #ffffff;
  background-color: #333333;
}

/*# sourceMappingURL=style.css.map */
