@charset "UTF-8";
.resources_title h3, .reservoir_title h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.5;
  color: #333333;
}

.resources_title h4, .resources_region_title h5 {
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  color: #333333;
}

* {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 1rem;
  font-family: "PingFang TC", "微軟正黑體", Roboto, sans-serif;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, p, ol, ul, li, label, input {
  margin: 0;
}

ol, ul, li {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

.popover {
  width: 900px;
  height: 480px;
  margin: auto;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #FFFFFF;
  border-radius: 15px;
}
.popover_background {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.popover_header {
  padding: 20px;
  position: relative;
  font-size: 20px;
  color: #333333;
  text-align: center;
}
.popover_header_close {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
}
.popover_header_close img {
  width: 100%;
  object-fit: cover;
}

.popover_body {
  padding: 37px;
}

.light_sign {
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid 1px #E0E0E0;
}
.light_sign:last-child {
  border: none;
}
.light_sign_badge {
  width: 26px;
  height: 26px;
  border-radius: 26px;
}
.light_sign .green {
  background-color: #27AE60;
}
.light_sign .yellow {
  background-color: #F2C94C;
}
.light_sign .orange_400 {
  background-color: #F88824;
}
.light_sign .orange_600 {
  background-color: #EB5757;
}
.light_sign_name {
  flex: 1 0 0;
  text-align: center;
  font-weight: 600;
}
.light_sign_content {
  flex: 2 0 0;
  font-weight: 400;
}

.open {
  display: block;
}

.navbar {
  width: 246px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  font-weight: 600;
}

.reservoir_info {
  margin: 0 70px;
  padding: 40px 0;
  display: flex;
  border-top: solid 1px #FFFFFF;
}

.water_regime {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  color: #FFFFFF;
}
.water_regime_name {
  margin-bottom: 6px;
}
.water_regime_content {
  width: 226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.water_regime_value {
  font-size: 40px;
  font-weight: 600;
}
.water_regime_badge {
  width: 20px;
  height: 20px;
  background-color: #F2C94C;
  border-radius: 20px;
}
.water_regime_info {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.water_regime_info img {
  width: 100%;
  object-fit: cover;
}

.reservoir_regime {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  position: relative;
  color: #FFFFFF;
}
.reservoir_regime::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
}
.reservoir_regime_name {
  margin-bottom: 6px;
}
.reservoir_regime_value {
  font-size: 40px;
  font-weight: 600;
}

.home {
  height: auto;
  background: url(../image/pic/home-bg.png), no-repeat, center;
}

.web_info {
  width: 523px;
  margin: 0 auto;
  padding: 190px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.web_info_title {
  margin-bottom: 20px;
}
.web_info_title img {
  width: 100%;
  object-fit: cover;
}
.web_info_subtitle {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 600;
}
.web_info .update_time {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}

.reservoir {
  padding: 50px;
}

.reservoir_title {
  margin-bottom: 1.5rem;
}
.total_storage {
  display: flex;
  flex-direction: column;
}
.total_storage_value {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
.total_storage_unit {
  font-size: 15px;
}

.resources_region_table {
  width: 100%;
  border-collapse: collapse;
}
.resources_region_table thead {
  border-bottom: solid 1px #BDBDBD;
  color: #BDBDBD;
  text-align: left;
}
.resources_region_table thead th {
  padding: 15px 0;
}
.resources_region_table tbody tr {
  border-bottom: solid 1px #BDBDBD;
}
.resources_region_table tbody td {
  padding: 15px 0;
  font-weight: 400;
}
.resources_region_table tbody td span {
  font-size: 17px;
  line-height: 1.5;
}
.resources_region_table tbody td a {
  color: #828282;
  font-size: 15px;
  line-height: 1.2;
}
.resources_region_table tbody td .address_icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
}
.resources_region_table tbody td .address_icon img {
  width: 100%;
  object-fit: cover;
}

.resources {
  padding: 50px;
  background-color: #EEEEEE;
}

.resources_title {
  margin-bottom: 1.5rem;
}
.resources_stand {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.resources_stand div {
  flex: 1 0 0;
  text-align: center;
}
.resources_stand_title {
  position: relative;
}
.resources_stand_title::after {
  content: "";
  width: 1px;
  height: 68px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #333333;
}
.resources_stand_value {
  font-size: 50px;
  font-weight: 800;
}

.resources_region_category {
  margin-bottom: 40px;
}
.resources_region_category button {
  width: 97px;
  height: 40px;
  color: #333333;
  background-color: transparent;
  border: solid 1px #333333;
  border-radius: 5px;
}
.resources_region_category button:hover {
  color: #FFFFFF;
  background-color: #333333;
}

/*# sourceMappingURL=style.css.map */
