@use '../utility/color';
@use '../utility/typography';

.economy {
  padding: 60px 50px;
  background-color: color.$gray-600;
  &_title {
    @extend %page_title;
    margin-bottom: 16px;
    color: color.$white;
  }
  &_table {
    width: 100%;
    border-collapse: collapse;
    color: color.$white;
    th {
      padding-bottom: 18px;
      border-bottom: solid 1px color.$white;
      color: color.$gray-300;
      font-weight: typography.$font-weight-regular;
      text-align: left;
    }
    td {
      padding: 23px 0;
      border-bottom: solid 1px color.$white;
      line-height: 23px;
    }
  }
}