@use '../utility/color';
@use '../utility/typography';
@use '../component/navbar.scss';
@use  '../component/reservoir-info';
@use '../component/resources-stand-info';

.home {
  height: auto;
  background: url("../image/pic/home-bg.png") center/cover no-repeat;
}

.web_info {
  width: 523px;
  margin: 0 auto;
  padding: 190px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  &_title {
    margin-bottom: 20px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &_subtitle {
    margin-bottom: 20px;
    color: color.$white;
    font-size: 36px;
    font-weight: typography.$font-weight-medium;
  }
  .update_time {
    color: color.$white;
    font-size: 20px;
    font-weight: typography.$font-weight-regular;
  }
}