$white: #ffffff;
$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$gray-100: #F2F2F2;
$gray-200: #eeeeee;
$gray-300: #bdbdbd;
$gray-400: #e0e0e0;
$gray-500: #828282;
$gray-600: #4F4F4F;
$gray-900: #333333;
$black-20: rgba(0, 0, 0, 0.5);

$green: #27ae60;
$yellow: #f2c94c;
$orange-400: #f88824;
$orange-600: #eb5757;
$red-200: rgba(240, 43, 74, 0.37);
$red-400: rgba(240, 43, 74);
$blue-200: #C0ECF2;
$blue-400: #22BCD1
