@use '../utility/color';
@use '../utility/typography';

.popover {
  &_card {
    height: 812px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: color.$white;
    @media (min-width: 1024px) {
      width: 900px;
      height: 550px;
      margin: auto;
      border-radius: 15px;
    }
  }
  &_background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: color.$black-20;
  }
}

.popover_header {
  padding: 20px;
  position: relative;
  font-size: 20px;
  color: color.$gray-900;
  text-align: center;
  &_close {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.popover_body {
  padding: 16px;
  @media (min-width: 768px) {
    padding: 37px;
  }
  
}

.light_sign {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: solid 1px color.$gray-400;
  &:last-child {
    border: none;
  }
  @media (min-width: 768px) {
  }
  &_info {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    @media (min-width: 768px) {
      margin: 0;
      flex: 1 0 0;
    }
  }
  &_badge {
    width: 26px;
    height: 26px;
    margin-right: 16px;
    border-radius: 26px;
  }
  &_name {
    font-weight: typography.$font-weight-medium;
    @media (min-width: 768px) {
      flex: 1 0 0;
      text-align: center;
    }
  }
  &_content {
    flex: 2 0 0;
    font-weight: typography.$font-weight-regular;
  }
}

.open {
  display: block;
}