@use '../utility/color';
@use '../utility/typography';

.reservoir_info {
  margin: 0 70px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    padding: 40px 0;
    flex-direction: row;
    border-top: solid 1px color.$white;
    border-bottom: solid 1px color.$white;
  }
}

.water_regime {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  border-bottom: solid 1px color.$white;
  color: color.$white;
  @media (min-width: 768px) {
    padding: 0;
    border: none;
  }
  &_name {
    margin-bottom: 6px;
  }
  &_content {
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_value {
    font-size: 40px;
    font-weight: typography.$font-weight-medium;
  }
  &_badge {
    width: 20px;
    height: 20px;
    background-color: color.$yellow;
    border-radius: 20px;
  }
  &_info {
    width: 20px;
    height: 20px;
    line-height: 20px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.reservoir_regime {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  position: relative;
  border-bottom: solid 1px color.$white;
  color: color.$white;
  @media (min-width: 768px) {
    padding: 0;
    border: none;
    &::before {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: color.$white;
    }
  }
  &_name {
    margin-bottom: 6px;
  }
  &_value {
    font-size: 40px;
    font-weight: typography.$font-weight-medium;
  }
}