@use '../utility/color';
@use '../utility/typography';

.resources_region_list {
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.resources_region{
  &_item {
    width: 120px;
    height: 120px;
    padding: 10px;
    text-align: center;
    span {
      font-size: 12px;
    }
  }
  &_icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &_content {
    padding: 16px;
    display: block;
    flex: 1 0 0;
    background-color: color.$gray-100;
    @media (min-width: 1024px) {
      height: 765px;
      overflow: scroll;
    }
    a {
      width: 26px;
      height: 26px;
      background-color: transparent;
      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }
  &_sort_laptop {
    display: none;
    @media (min-width: 1024px) {
      margin-right: 13px;
      display: block;
    }
  }
  &_stand {
    padding: 1.2rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px color.$gray-400;
  }
}

.resources_map {
  height: 400px;
  order: -1;
  position: relative;
  text-align: center;
  @media (min-width: 1024px) {
    height: 765px;
    flex: 1 0 0;
    order: 1;
  }
}

.stand_info {
  display: flex;
  flex: 2 0 0;
  flex-direction: column;
  font-size: 17px;

}

.resources_address{
  margin-right: 25px;
}

.on-click {
  border: solid 1px;
  border-radius: 10px;
}

.custom-select {
  @media (min-width: 1024px) {
    display: none;
  }
}