@use '../utility/color';
@use '../utility/typography';

.tainan_reservoir {
  margin: 16px;
  padding: 30px 16px;
  border-radius: 10px;
  background-color: color.$white-10;
  @media (min-width: 1024px) {
    margin: 15px 45px;
  }
}
.reservoir_chart_item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    margin: 0;
  }
  &:nth-child(2) .reservoir_chart_capacity {
    width: 20%;
  }
  &:nth-child(3) .reservoir_chart_capacity {
    width: 17%;
  }
  &:nth-child(4) .reservoir_chart_capacity {
    width: 2%;
  }
  @media (min-width: 768px) {
    margin-bottom: 30px;
    align-items: center;
  }
}

.reservoir_name {
  margin-bottom: 12px;
  flex: 0 0 50%;
  order: 1;
  font-size: 20px;
  font-weight: typography.$font-weight-medium;
  color: color.$white;
  @media (min-width: 768px) {
    margin: 0;
    flex: 0 0 20%;
  }
  @media (min-width: 1024px) {
    flex: 0 0 12%;
  }
  div {
    padding-bottom: 6px;
    font-size: 20px;
    @media (min-width: 768px) {
      padding: 0;
    }
  }

}

.reservoir_chart_content {
  flex: 1 0 0;
  order: 3;
  @media (min-width: 768px) {
    order: 2;
    order: 2;
    flex: 2 0 0;
  }
}

.reservoir_chart {
  &_bar {
    flex: 0 0 70%;
    @media (min-width: 768px) {
      margin-right: 10px;
      flex: 0 0 60%;
    }
  }
  &_capacity {
    width: 100%;
    height: 20px;
    position: relative;
    border-radius: 0 3px 3px 0;
    background-color: color.$gray-200;
  }
  &_value {
    height: 20px;
    position: absolute;
    left: 0;
    border-radius: 0 3px 3px 0;
    background:linear-gradient(90deg, color.$blue-400 0%, color.$blue-200 100%);
  }
}

.reservoir_capacity {
  margin-bottom: 12px;
  flex: 0 0 50%;
  order: 2;
  text-align: right;
  font-size: 24px;
  font-weight: typography.$font-weight-bold;
  color: color.$white;
  @media (min-width: 768px) {
    margin: 0;
    flex: 0 0 20%;
    order: 3;
    font-size: 30px;
  }
  @media (min-width: 768px) {
    flex: 0 0 10%;
  }
}

.reservoir_storage {
  margin-top: 6px;
  font-size: 15px;
  color: color.$white;
}