@use '../utility/color';
@use '../utility/typography';

.resources_stand_info {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (min-width: 768px) {
    margin: 0 70px;
  }
  @media (min-width: 1024px) {
    padding: 40px 0 100px;
    flex-direction: row;
  }
  .resources_stand {
    flex: 0 0 50%;
    padding: 30px 0;
    position: relative;
    border-bottom: solid 1px color.$white;
    color: color.$white;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 12px;
    }
    @media (min-width: 1024px) {
      padding: 0;
      flex: 1 0 0;
      border: none;
      &::before {
        content: "";
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
        background-color: #FFFFFF;
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
    }
    &_title {
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 68px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: color.$gray-900;
      }
    }
    &_value {
      margin-bottom: 8px;
      font-size: 50px;
      font-weight: 800;
    }
    &_badge{
      width: 70px;
      height: 26px;
      margin-right: 5px;
      padding: 4px 8px;
      border-radius: 26px;
      background-color: color.$white;
      font-size: 13px;
      color: color.$gray-900;
      &:last-child {
        margin: 0;
      }
    }
  }
}