@use '../utility/color';
@use '../utility/typography';

.reservoir_chart_header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  @media (min-width: 768px) {
    color: color.$gray-500;
  }
  @media (min-width: 1024px) {
    font-size: 1rem;
  }
}

.reservoir_storage_info {
  display: flex;
  justify-content: flex-end;
  flex: 0 0 60%;
  order: 2;
  @media (min-width: 768px) {
    order: 3;
    flex: 0 0 30%;
  }
}

.reservoir_capacity {
  flex: 0 0 40%;
  order: 3;
  text-align: right;
  color: color.$white;
  @media (min-width: 768px) {
    margin-right: 0;
  }
}

.reservoir_storage {
  flex: 0 0 50%;
  order: 2;
  text-align: right;
  color: color.$white;
  @media (min-width: 768px) {
  }
}

.reservoir_chart_item {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  &:last-child {
    margin: 0;
  }
  &:nth-child(2) .reservoir_chart_capacity {
    width: 50%;
  }
  &:nth-child(3) .reservoir_chart_capacity {
    width: 17%;
  }
  &:nth-child(4) .reservoir_chart_capacity {
    width: 2%;
  }
  @media (min-width: 768px) {
    margin-bottom: 30px;
    align-items: center;
  }
}

.reservoir_name {
  margin-bottom: 8px;
  flex: 0 0 40%;
  order: 1;
  color: color.$white;
  @media (min-width: 768px) {
    margin: 0;
    flex: 0 0 20%;
  }
  @media (min-width: 1024px) {
    flex: 0 0 12%;
  }
  div {
    font-size: 20px;
    color: color.$white;
    @media (min-width: 768px) {
      padding-bottom: 6px;
    }
  }
}

.reservoir_chart_content {
  display: flex;
  flex: 2 0 0;
  justify-content: space-between;
  order: 3;
  @media (min-width: 768px) {
    order: 2;
  }
}

.reservoir_counties {
  margin-right: 4px;
  padding: 2px 6px;
  background-color: color.$gray-500;
  border-radius: 4px;
  font-size: 1rem;
  color: color.$white;
  &:last-child {
    margin: 0;
  }
}

.reservoir_chart {
  &_bar {
    margin-right: 10px;
    flex: 1 0 0;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  &_capacity {
    height: 20px;
    position: relative;
    border-radius: 0 3px 3px 0;
    background-color: #eee;
  }
  &_value {
    height: 20px;
    position: absolute;
    left: 0;
    border-radius: 0 3px 3px 0;
    background: linear-gradient(-90deg, #C0ECF2, #22BCD1)
  }
}

.reservoir_storage {
  margin-top: 6px;
  font-size: 15px;
  color: color.$white;
}
