@use '../utility/color';
@use '../utility/typography';

.reservoir_info {
  margin: 0 16px;
  border-radius: 10px;
  background-color: color.$white-10;
  @media (min-width: 768px) {
    margin: 0 45px;
    padding: 40px 0;
    display: flex;
  }
}

.water_regime {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  color: color.$white;
  @media (min-width: 768px) {
    padding: 0;
  }
  &_name {
    margin-bottom: 6px;
  }
  &_content {
    width: 226px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_value {
    font-size: 40px;
    font-weight: typography.$font-weight-medium;
  }
  &_badge {
    width: 20px;
    height: 20px;
    background-color: color.$orange-400;
    border-radius: 20px;
  }
  &_info {
    width: 20px;
    height: 20px;
    line-height: 20px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.reservoir_regime {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  position: relative;
  color: color.$white;
  @media (min-width: 768px) {
    padding: 0;
  }
  &_name {
    margin-bottom: 6px;
  }
  &_value {
    font-size: 40px;
    font-weight: typography.$font-weight-medium;
  }
}