@use '../utility/color';
@use '../utility/typography';

.resources_stand_content {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
  @media (min-width: 1024px) {
    padding-bottom: 60px;
    margin: 0 45px;
    grid-template-columns: repeat(4, 1fr);
  }
  .resources_stand {
    padding: 30px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: color.$white-10;
    color: color.$white;
    cursor: pointer;
    @media (min-width: 768px) {
      margin: 0;
      justify-content: space-between;
    }
    &_name {
      margin-bottom: 6px;
    }
    &_title {
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 68px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: color.$gray-900;
      }
    }
    &_value {
      margin-bottom: 8px;
      font-size: 50px;
      font-weight: 800;
      text-decoration: underline;
    }
    &_badge{
      width: 70px;
      height: 26px;
      margin-right: 5px;
      padding: 4px 8px;
      border-radius: 26px;
      background-color: color.$white-20;
      font-size: 13px;
      color: color.$white;
      &:last-child {
        margin: 0;
      }
      @media (min-width: 768px) {
        display: block;
        margin: 0 5px 5px 0;
      }
      @media (min-width: 1440px) {
        display: inline;
      }
    }
  }
}