@use './../utility/color';
@use './../utility/typography';

* {
  box-sizing: border-box;

  &::after {
    box-sizing: border-box;
  }
  &::before {
    box-sizing: border-box;
  }
}

body {
  width: 1440px;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: typography.$font-size-base;
  font-family: typography.$font-family-base;
  line-height: typography.$line-height-base;
}

h1,h2,h3,h4,h5,p,ol,ul,li,label,input {
  margin: 0;
}

ol,ul,li {
  list-style: none;
  padding: 0;
}

// ====================================
// # links

a {
  display: block;
  color: color.$white;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

button {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}
