@use '../utility/color';
@use '../utility/typography';

.economy {
  padding: 40px 16px;
  background-color: color.$gray-600;
  @media (min-width: 768px) {
    padding: 60px 50px;
  }
  &_title {
    @extend %page_title;
    margin-bottom: 16px;
    text-align: center;
    color: color.$white;
  }
  &_table {
    width: 100%;
    border-collapse: collapse;
    color: color.$white;
    th {
      padding-bottom: 18px;
      border-bottom: solid 1px color.$white;
      color: color.$gray-300;
      font-weight: typography.$font-weight-regular;
      text-align: left;
    }
    td {
      width: 10%;
      padding: 23px 10px;
      border-bottom: solid 1px color.$white;
      line-height: 23px;
      @media (min-width: 768px) {
        width: 0;
        padding: 23px 0;
      }
    }
  }
}