@use '../utility/color';
@use '../utility/typography';
@use '../module/breakpoint';
@use '../component/navbar';
@use '../component/reservoir-info';
@use '../component/resources-stand-content';
@use '../component/_reservoir_storage.scss';

.home {
  height: auto;
  background: url("../image/pic/home-bg.png") center/cover no-repeat;
}

.web_info {
  margin: 0 auto;
  padding: 100px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media (min-width: 768px) {
    width: fit-content;
    padding: 60px 0 30px;
  }
  &_title {
    margin-bottom: 20px;
    display: none;
    @media (min-width: 768px) {
      width: 100%;
      display: block;
    }
  }
  .update_time {
    color: color.$white;
    font-size: 20px;
    font-weight: typography.$font-weight-regular;
  }
}

.resources_stand_tag {
  margin: 5px 0;
}

.resources_stand_badge {
  width: 70px;
  height: 26px;
  margin-right: 5px;
  padding: 4px 8px;
  border-radius: 26px;
  background-color: color.$white;
  font-size: 13px;
  line-height: normal;
  color: color.$gray-900;
  &:last-child {
    margin: 0;
  }
}

.phone {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}