@use '../utility/color';
@use '../utility/typography';
@use '../module/breakpoint';
@use '../component/navbar';
@use '../component/reservoir-info';
@use '../component/resources-stand-info';

.home {
  height: auto;
  background: url("../image/pic/home-bg.png") center/cover no-repeat;
}

.web_info {
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  @media (min-width: 768px) {
    width: fit-content;
    padding: 190px 0;
  }
  &_title {
    margin-bottom: 20px;
    display: none;
    @media (min-width: 768px) {
      width: 100%;
      display: block;
    }
  }
  .update_time {
    color: color.$white;
    font-size: 20px;
    font-weight: typography.$font-weight-regular;
  }
}

.sm-size {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}