@use '../utility/color';
@use '../utility/typography';
@use '../component/reservoir-chart';

.reservoir {
  padding: 50px;
}
.reservoir_title {
  margin-bottom: 2.25rem;
  h3 {
    @extend %page_title;
  }
}

.total_storage {
  margin-bottom: 2.25rem;
  display: flex;
  flex-direction: column;
  &_value {
    font-size: 60px;
    font-weight: typography.$font-weight-bold;
    line-height: 1.5;
  }
  &_unit {
    font-size: 15px;
  }
}