@use '../utility/color';
@use '../utility/typography';
@use '../component/resources-region-list';


.resources {
  padding: 50px 16px;
  background-color: color.$gray-200;
  @media (min-width: 576px) {
    padding: 50px;
  }
}
.resources_title {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  h3 {
    @extend %page_title;
  }
  .reserv_button {
    padding: 10px 20px;
    background-color: color.$gray-900;
    border-radius: 4px;
    color: color.$white;
    font-size: 17px;
  }
}

.resources_region {
  &_category {
    margin-bottom: 40px;
    button {
      width: 97px;
      height: 40px;
      color: color.$gray-900;
      background-color: transparent;
      border: solid 1px color.$gray-900;
      border-radius: 5px;
      &:hover {
        color: color.$white;
        background-color: color.$gray-900;
      }
    }
  }
}